<!DOCTYPE>
<html>
    <head>
        <title> Hello World </title>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <style>
            .scrimba{
                color:aqua
            }

            .vue{
                color: crimson;
            }
        </style>
    </head>
    <body>
        <div id="app">
            
            <h2> {{ message }} </h2>
            <input type="text" v-model="message">
            <ul v-for="(reminder,index) in personalMessages">
                <li v-show="!reminder.secret">
                    {{ reminder.title}} - {{ reminder.text }} <button v-on:click="toggleSecret(reminder,index)"> toggleSecret </button>
                </li>
                <li v-show="reminder.secret">
                    ****** <button v-on:click="toggleSecret(reminder,index)"> toggleSecret </button>
                </li>
             
            </ul>
            <div>
                <a v-bind:href="scrimbaURL"> {{scrimbaTitle}} </a>
            </div>
            
        </div>
        <script src="index.js"></script>
    </body>
</html>
